<style>
.scroll-content{

    background-repeat: no-repeat;
    background-size: cover;


    }

</style>
<ion-view >
<ion-content class="padding">


<br><br><br><br><br>
<img src="img/logo.jpg" style="height:180px; width:180px; margin:auto; display:block; border: 3px solid white; ">


<br><br>
  <a class="button button-balanced button-block" style="border-radius:80px; width: 110px; height: 40px; margin:auto; display:block;"href="#/What">Know C4GC</a>
  <br>
  <a  class="button button-balanced button-block" style="border-radius:80px; width: 110px; height: 40px; margin:auto; display:block; "href="#/app/Report">Skip</a>
</ion-content> 
</ion-view>
