<ion-view view-title="Profile">
<ion-content class="padding">


<div ng-controller="session1">
<div ng-show="One">
		<input id="fileholder" type="file" value="Upload" accept="image/x-png,image/jpeg;capture=camera" onchange="loadIt(event)">
		<a ng-click="updatepic()" value="Send Report" class="button button-balanced button-small button-block" style="border-radius:80px; width:100px;" > Change Pic</a>

	<img  id="accountimg"src="{{account.img}}" height="120px" width="120px" ng-click="takePicture() " >
</div>
		<div  style=" position: absolute; top: 70px; right:115px;"> <br><br><br><br><br><br>{{item.account}} <br>{{item.Name}}</div>

	<br><br>
	<label class="item item-input">
<div ng-controller='Search1'>
			<i class="icon ion-ios-search placeholder-icon"></i>
			<input type="text" placeholder="Search Report" ng-model="search2">
	</label>

	<div class="list" style="box-shadow: 4px 4px 4px grey;">
	<div class="item item-icon-right" ng-repeat="item in items | filter:search2 track by $index">
		<table>
			<tr>
				<td>
	<img ng-src="{{item.Image}}" height="120px" width="120px" style="display:block;" >
	</td>
	</tr>
	<tr>
		<td>
	<label ng-model="category">{{item.Category}}</label>
	</td>
	</tr>
	<tr>
		<td>
	<label ng-model="rep" style="">{{item.Description}}</label>
	</td>
	</tr>
	<tr>
		<td>
	<label ng-model="studentId">{{item.location}}</label>
	</td>
	</tr>
	<tr>
		<td>
	</td>
	</tr>
	</table>
	<br><br>
	</div>

	</div>
	</div>
</div>
</ion-view>
</ion-content>
