``<style>
.reporting{
  box-shadow: 4px 4px 4px grey;
}
.sid{
  box-shadow: 4px 4px 4px grey;
}

</style>
<ion-view view-title="Report">
<ion-content class="padding">

<!-- <div ng-controller="session" ng-model="rep" value="rep">
</div> -->
<div class="list" align="center" >
  <div ng-controller="CameraCtrl">
  <div class="item item-divider">
          <center>CAPTURE MEMORIES</center>
        </div>
        <div class="item item-image">
          <img class="item" ng-src="{{cameraimage}}" style="height: 300px;"/>
        </div>
      </div>
      <div class="padding">
        <button class="button button-block button-energized" style=";box-shadow: 0 10px 6px -6px grey;background-color:#ff944d;" ng-click="takePicture()">
          Take Photo
        </button>
      </div>
</div>
    <div class="container" ng-controller='TodoController'>
		<form class="todo-form "ng-submit="addReport()">

<div ng-controller="CameraCtrl">
<img id="userimg"  src="" height="120px" width="120px" style="display:block;" ng-click="takePicture()"> </div>
</div>
<input id="fileholder" type="file" value="Upload" accept="image/x-png,image/jpeg;capture=camera" onchange="loadFile(event)">


		<br><br>
    Pick category of Your Report <br>
<div>


    <div>
    <select ng-model="Category" required="" class="item item-input item-select" style="height:30px; width:200px;">
  <option value="Broken Things">Broken Things </option>
  <option value="Student Behavior">Student Behavior </option>
</select>
   </div>
<br>
    <div class='reporting'>

		 <label class="item item-input">
<textarea ng-model="report" placeholder="Enter Report Here/ Short Description" rows="6" cols="40">
		</textarea>
  </label>
</div>
  <div class='sid'>
  	 <label class="item item-input">
     <input type="text" ng-model="location" placeholder="Location">
    </label>
  </div>
  <br>
  <div class='sid'>

</div>


	<br>

	<button type="submit" value="Send Report" class="button button-balanced button-small button-block" style="border-radius:80px;"> Submit</button>
	</form>

</ion-view>
</ion-content>
