<ion-view view-title="Stored Report">
	<ion-content class="padding">
<label class="item item-input">
		<i class="icon ion-ios-search placeholder-icon"></i>
		<input type="text" placeholder="Search Report" ng-model="search">
</label>
<div ng-controller='Search'>
<div class="list" style="box-shadow: 4px 4px 4px grey;">
<div class="item item-icon-right" ng-repeat="item in items | filter:search">
	<table>
		<tr>
			<td>
<label ng-model="studentId">{{item.StudentId}}</label>
</td>
</tr>
<tr>
	<td>
<label ng-model="category">{{item.category}}</label>
</td>
</tr>
<tr>
	<td>
<label ng-model="rep" style="">{{item.description}}</label>
</td>
</tr>
<tr>
	<td>
<label ng-model="studentId">{{item.location}}</label>
</td>
</tr>
<tr>
	<td>
		<a class="button button-icon icon ion-android-delete" data-ng-click="remove(item)"ng-controller='TodoController' style="position: absolute; right:70px; width: 50px;"></a>
</td>
<td>
	<i class="button button-icon icon ion-android-send" data-ng-click="add(item)"ng-controller='TodoController' style=""></i>

</td>
</tr>

</table>



</div>

</div>
</div>

</ion-view>
</ion-content>
